@theme {
  --color-primary: var(--color-rose-500);
  --color-onPrimary: var(--color-zinc-400);

  --color-secondary: var(--color-zinc-900);
  --color-onSecondary: var(--color-white);

  --color-textDark: var(--color-zinc-800);
  --color-textLight: var(--color-zinc-400);
}
