@import "tailwindcss";
@import "./colors.css";
@import "./spacing.css";

@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf");
}

html {
  font-family: Montserrat;
}
