@import "tailwindcss";
@import "./colors.css";
@import "./spacing.css";
@import "maplibre-gl/dist/maplibre-gl.css";

@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf");
}

@theme {
  --font-display: Oswald, sans-serif;
}

html {
  font-family: Montserrat;
}

.smooth {
  @apply ease-in-out transition-all;
}
